.wrapper {
  background-color: rgba(255, 255, 255, 0.149);
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 10px;
}

.wrapper:last-of-type {
  margin-bottom: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.heading {
  font-size: var(--heading-sm);
  padding: 0;
}

.link {
  position: relative;
  margin: 0 20px 0 0;
}

.link::before {
  background-color: black;
  bottom: -2px;
  content: "";
  height: 1px;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
  width: 100%;
}

.link:hover::before {
  opacity: 1;
  transform: scaleX(1);
}

.dateWrapper {
  font-style: italic;
}
