.wrapper {
  position: relative;
  padding-top: 0.5rem;
  display: inline-block;
}

.wrapper::before {
  content: "";
  position: absolute;
  height: 1px;
  left: -5px;
  right: -5px;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.icon {
  color: rgba(0, 0, 0, 0.6);
  transition: color 0.2s ease-in-out;
}
