.card {
  width: 100%;
  max-width: 400px;
  padding: 1rem;
  background: rgb(247,111,153);
  background: linear-gradient(90deg, rgba(247,111,153,1) 0%, rgba(249,184,63,1) 100%);
  border-radius: 1rem;
}

.cardHeading {
  font-size: 1.5rem;
  font-weight: 500;
}

.cardFooter {
  display: flex;
  flex-direction: row-reverse;
}

.cardFooter {
  font-size: 0.8rem;
}

.cardFooterLink:hover {
  text-decoration: underline;
}