.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  margin-bottom: 1rem;
  position: relative;
}

.header::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 50%;
  left: 0;
  background-color: black;
  bottom: -11px;
}
.title {
  margin: 0 10px 0 0;
}

.titleWrapper {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0 0.5rem;
}

.date {
  font-style: italic;
  color: rgba(0, 0, 0, 0.54);
  font-size: 0.85rem;
}

.footer {
  padding: 2rem 0;
  display: flex;
  /* flex-direction: row-reverse; */
  flex-direction: column;
  align-items: flex-end;
}

.footerIcon {
  color: rgba(0, 0, 0, 0.6);
  transition: color 0.2s ease-in-out;
}
