.tag {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 3px 10px;
  font-size: 0.85rem;
  border-radius: 10px;
  color: rgb(255, 255, 255);
  margin: 0 10px 10px 0;
  background-color: rgb(0, 0, 0, 0.18);
}

.tag:last-of-type {
  margin: 0 0 10px 0;
}

.tagWrapper {
  margin: 5px 0 -5px;
}